USE [master]
GO
/****** Object:  Database [IDSProductsPortal]    Script Date: 9/11/2026 12:56:31 AM ******/
CREATE DATABASE [IDSProductsPortal]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IDSProductsPortal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IDSProductsPortal]
GO
/****** Object:  Table [dbo].[AdminSecuritySettings]    Script Date: 9/11/2026 12:56:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminSecuritySettings](
	[AdminSecuritySettingsId] [tinyint] NOT NULL,
	[AdminPromotionPasswordHash] [nvarchar](500) NULL,
	[IsConfigured] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AdminSecuritySettings] PRIMARY KEY CLUSTERED 
(
	[AdminSecuritySettingsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClientResponsibilities]    Script Date: 9/11/2026 12:56:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientResponsibilities](
	[ClientResponsibilityId] [int] IDENTITY(1,1) NOT NULL,
	[ClientId] [int] NOT NULL,
	[TeamMemberId] [int] NOT NULL,
	[ResponsibilityRole] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientResponsibilityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 9/11/2026 12:56:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](200) NOT NULL,
	[Country] [nvarchar](100) NULL,
	[ContactInformation] [nvarchar](max) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeploymentModules]    Script Date: 9/11/2026 12:56:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeploymentModules](
	[DeploymentModuleId] [int] IDENTITY(1,1) NOT NULL,
	[DeploymentId] [int] NOT NULL,
	[ModuleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DeploymentModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deployments]    Script Date: 9/11/2026 12:56:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deployments](
	[DeploymentId] [int] IDENTITY(1,1) NOT NULL,
	[ClientId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[ProductVersion] [nvarchar](50) NOT NULL,
	[GoLiveDate] [date] NULL,
	[DeploymentStatus] [nvarchar](50) NOT NULL,
	[SupportTier] [nvarchar](50) NULL,
	[ClientSpecificNotes] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[DeploymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documents]    Script Date: 9/11/2026 12:56:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documents](
	[DocumentId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[DocumentName] [nvarchar](200) NOT NULL,
	[DocumentType] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[UrlFileReference] [nvarchar](500) NOT NULL,
	[LastUpdatedDate] [date] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Environments]    Script Date: 9/11/2026 12:56:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Environments](
	[EnvironmentId] [int] IDENTITY(1,1) NOT NULL,
	[DeploymentId] [int] NOT NULL,
	[EnvironmentName] [nvarchar](150) NOT NULL,
	[EnvironmentType] [nvarchar](50) NOT NULL,
	[Purpose] [nvarchar](max) NULL,
	[ServerName] [nvarchar](150) NULL,
	[OperatingSystem] [nvarchar](150) NULL,
	[ApplicationUrl] [nvarchar](500) NULL,
	[DatabaseInformation] [nvarchar](max) NULL,
	[MonitoringLink] [nvarchar](500) NULL,
	[AccessInstructionsReference] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[EnvironmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductModules]    Script Date: 9/11/2026 12:56:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductModules](
	[ModuleId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[ModuleName] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductResponsibilities]    Script Date: 9/11/2026 12:56:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductResponsibilities](
	[ResponsibilityId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[TeamMemberId] [int] NOT NULL,
	[ResponsibilityRole] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ResponsibilityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 9/11/2026 12:56:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[BusinessPurpose] [nvarchar](max) NULL,
	[LifecycleStatus] [nvarchar](50) NOT NULL,
	[CurrentVersion] [nvarchar](50) NULL,
	[SupportedMarkets] [nvarchar](300) NULL,
	[Criticality] [nvarchar](50) NULL,
	[Technologies] [nvarchar](500) NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Repositories]    Script Date: 9/11/2026 12:56:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Repositories](
	[RepositoryId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[RepositoryName] [nvarchar](150) NOT NULL,
	[GitHubUrl] [nvarchar](500) NOT NULL,
	[MainBranch] [nvarchar](100) NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[RepositoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 9/11/2026 12:56:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeamMembers]    Script Date: 9/11/2026 12:56:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamMembers](
	[TeamMemberId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[JobTitle] [nvarchar](150) NULL,
	[DepartmentTeam] [nvarchar](150) NULL,
	[Email] [nvarchar](200) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[TeamMemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/11/2026 12:56:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[RoleId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AdminSecuritySettings] ([AdminSecuritySettingsId], [AdminPromotionPasswordHash], [IsConfigured], [CreatedAt], [UpdatedAt]) VALUES (1, N'PBKDF2-SHA256$120000$TAxkKJtwWEmiYyqUXNrp1A==$kD28QK5kEXuszSFp+GKlxwVVqbodxY/VvHVlJVl+ryA=', 1, CAST(N'2026-08-29T18:37:38.0500463' AS DateTime2), CAST(N'2026-09-10T13:13:25.1355110' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[ClientResponsibilities] ON 

INSERT [dbo].[ClientResponsibilities] ([ClientResponsibilityId], [ClientId], [TeamMemberId], [ResponsibilityRole], [Description], [CreatedAt]) VALUES (1, 1, 9, N'Implementation Lead', N'Coordinates implementation activities.', CAST(N'2026-08-28T16:13:36.7321376' AS DateTime2))
INSERT [dbo].[ClientResponsibilities] ([ClientResponsibilityId], [ClientId], [TeamMemberId], [ResponsibilityRole], [Description], [CreatedAt]) VALUES (2, 1, 8, N'Support Lead', N'Coordinates operational support.', CAST(N'2026-08-28T16:13:36.7321376' AS DateTime2))
INSERT [dbo].[ClientResponsibilities] ([ClientResponsibilityId], [ClientId], [TeamMemberId], [ResponsibilityRole], [Description], [CreatedAt]) VALUES (3, 2, 9, N'Implementation Consultant', N'Coordinates client delivery.', CAST(N'2026-08-28T16:13:36.7321376' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ClientResponsibilities] OFF
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([ClientId], [CompanyName], [Country], [ContactInformation], [Status], [Notes], [CreatedAt], [UpdatedAt]) VALUES (1, N'Cedar Bank', N'Lebanon', N'technology@cedarbank.example.com', N'Active', N'Large banking client.', CAST(N'2026-08-28T16:13:36.6873913' AS DateTime2), NULL)
INSERT [dbo].[Clients] ([ClientId], [CompanyName], [Country], [ContactInformation], [Status], [Notes], [CreatedAt], [UpdatedAt]) VALUES (2, N'LevantPay', N'Lebanon', N'operations@levantpay.example.com', N'Active', N'Payment service provider.', CAST(N'2026-08-28T16:13:36.6873913' AS DateTime2), NULL)
INSERT [dbo].[Clients] ([ClientId], [CompanyName], [Country], [ContactInformation], [Status], [Notes], [CreatedAt], [UpdatedAt]) VALUES (3, N'Horizon Finance', N'UAE', N'technology@horizonfinance.example.com', N'Active', N'Digital finance provider.', CAST(N'2026-08-28T16:13:36.6873913' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[DeploymentModules] ON 

INSERT [dbo].[DeploymentModules] ([DeploymentModuleId], [DeploymentId], [ModuleId]) VALUES (1, 1, 17)
INSERT [dbo].[DeploymentModules] ([DeploymentModuleId], [DeploymentId], [ModuleId]) VALUES (4, 1, 18)
INSERT [dbo].[DeploymentModules] ([DeploymentModuleId], [DeploymentId], [ModuleId]) VALUES (6, 1, 19)
SET IDENTITY_INSERT [dbo].[DeploymentModules] OFF
GO
SET IDENTITY_INSERT [dbo].[Deployments] ON 

INSERT [dbo].[Deployments] ([DeploymentId], [ClientId], [ProductId], [ProductVersion], [GoLiveDate], [DeploymentStatus], [SupportTier], [ClientSpecificNotes], [CreatedAt], [UpdatedAt]) VALUES (1, 1, 7, N'3.4.1', CAST(N'2025-04-15' AS Date), N'Production', N'Premium', N'Main production payment deployment.', CAST(N'2026-08-28T16:13:36.7572617' AS DateTime2), NULL)
INSERT [dbo].[Deployments] ([DeploymentId], [ClientId], [ProductId], [ProductVersion], [GoLiveDate], [DeploymentStatus], [SupportTier], [ClientSpecificNotes], [CreatedAt], [UpdatedAt]) VALUES (2, 1, 11, N'2.1.0', CAST(N'2025-05-20' AS Date), N'Production', N'Premium', N'Reconciliation runs after daily settlement.', CAST(N'2026-08-28T16:13:36.7572617' AS DateTime2), NULL)
INSERT [dbo].[Deployments] ([DeploymentId], [ClientId], [ProductId], [ProductVersion], [GoLiveDate], [DeploymentStatus], [SupportTier], [ClientSpecificNotes], [CreatedAt], [UpdatedAt]) VALUES (3, 2, 8, N'5.0.0', CAST(N'2025-06-10' AS Date), N'Production', N'Standard', N'Merchant portal production deployment.', CAST(N'2026-08-28T16:13:36.7572617' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Deployments] OFF
GO
SET IDENTITY_INSERT [dbo].[Documents] ON 

INSERT [dbo].[Documents] ([DocumentId], [ProductId], [DocumentName], [DocumentType], [Description], [UrlFileReference], [LastUpdatedDate], [CreatedAt], [UpdatedAt]) VALUES (1, 7, N'Payments Hub Architecture', N'Architecture Diagram', N'High-level payment platform architecture.', N'https://docs.example.com/payments/architecture', CAST(N'2026-01-15' AS Date), CAST(N'2026-08-28T16:13:36.8404086' AS DateTime2), NULL)
INSERT [dbo].[Documents] ([DocumentId], [ProductId], [DocumentName], [DocumentType], [Description], [UrlFileReference], [LastUpdatedDate], [CreatedAt], [UpdatedAt]) VALUES (2, 7, N'Payments Hub Deployment Guide', N'Deployment Guide', N'Production deployment instructions.', N'https://docs.example.com/payments/deployment', CAST(N'2026-02-01' AS Date), CAST(N'2026-08-28T16:13:36.8404086' AS DateTime2), NULL)
INSERT [dbo].[Documents] ([DocumentId], [ProductId], [DocumentName], [DocumentType], [Description], [UrlFileReference], [LastUpdatedDate], [CreatedAt], [UpdatedAt]) VALUES (3, 7, N'Payments Hub API Documentation', N'API Documentation', N'API endpoints and integration notes.', N'https://docs.example.com/payments/api', CAST(N'2026-02-10' AS Date), CAST(N'2026-08-28T16:13:36.8404086' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Documents] OFF
GO
SET IDENTITY_INSERT [dbo].[Environments] ON 

SET IDENTITY_INSERT [dbo].[Environments] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductModules] ON 

INSERT [dbo].[ProductModules] ([ModuleId], [ProductId], [ModuleName], [Description], [Status], [CreatedAt], [UpdatedAt]) VALUES (17, 7, N'Payment Processing', N'Payment authorization and transaction processing.', N'Active', CAST(N'2026-08-28T16:13:36.6765378' AS DateTime2), NULL)
INSERT [dbo].[ProductModules] ([ModuleId], [ProductId], [ModuleName], [Description], [Status], [CreatedAt], [UpdatedAt]) VALUES (18, 7, N'Settlement', N'Settlement and payout processing.', N'Active', CAST(N'2026-08-28T16:13:36.6765378' AS DateTime2), NULL)
INSERT [dbo].[ProductModules] ([ModuleId], [ProductId], [ModuleName], [Description], [Status], [CreatedAt], [UpdatedAt]) VALUES (19, 7, N'Reporting', N'Operational and financial payment reports.', N'Active', CAST(N'2026-08-28T16:13:36.6765378' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[ProductModules] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductResponsibilities] ON 

INSERT [dbo].[ProductResponsibilities] ([ResponsibilityId], [ProductId], [TeamMemberId], [ResponsibilityRole], [Description], [CreatedAt]) VALUES (1, 7, 1, N'Technical Lead', N'Owns technical direction and architecture.', CAST(N'2026-08-28T16:13:36.7128645' AS DateTime2))
INSERT [dbo].[ProductResponsibilities] ([ResponsibilityId], [ProductId], [TeamMemberId], [ResponsibilityRole], [Description], [CreatedAt]) VALUES (2, 7, 2, N'Backend Developer', N'Owns payment processing services.', CAST(N'2026-08-28T16:13:36.7128645' AS DateTime2))
INSERT [dbo].[ProductResponsibilities] ([ResponsibilityId], [ProductId], [TeamMemberId], [ResponsibilityRole], [Description], [CreatedAt]) VALUES (3, 7, 5, N'QA Engineer', N'Owns payment regression testing.', CAST(N'2026-08-28T16:13:36.7128645' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ProductResponsibilities] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [ProductName], [Description], [BusinessPurpose], [LifecycleStatus], [CurrentVersion], [SupportedMarkets], [Criticality], [Technologies], [Notes], [CreatedAt], [UpdatedAt]) VALUES (7, N'IDS Payments Hub', N'Central payment processing platform for card and account-based transactions.', N'Process and monitor payments across supported channels.', N'Active', N'3.4.1', N'Lebanon, Jordan, UAE', N'Critical', N'.NET, React, SQL Server, REST API', N'Primary payment processing product.', CAST(N'2026-08-28T16:13:36.6608156' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Repositories] ON 

INSERT [dbo].[Repositories] ([RepositoryId], [ProductId], [RepositoryName], [GitHubUrl], [MainBranch], [Description], [CreatedAt], [UpdatedAt]) VALUES (1, 7, N'Payments Hub API', N'https://github.com/ids-fintech/demo-payments-api', N'main', N'Backend payment processing API.', CAST(N'2026-08-28T16:13:36.8299244' AS DateTime2), NULL)
INSERT [dbo].[Repositories] ([RepositoryId], [ProductId], [RepositoryName], [GitHubUrl], [MainBranch], [Description], [CreatedAt], [UpdatedAt]) VALUES (2, 7, N'Payments Hub Web', N'https://github.com/ids-fintech/demo-payments-web', N'main', N'Payments operations web application.', CAST(N'2026-08-28T16:13:36.8299244' AS DateTime2), NULL)
INSERT [dbo].[Repositories] ([RepositoryId], [ProductId], [RepositoryName], [GitHubUrl], [MainBranch], [Description], [CreatedAt], [UpdatedAt]) VALUES (3, 8, N'Merchant Portal', N'https://github.com/ids-fintech/demo-merchant-portal', N'main', N'Merchant portal frontend and API.', CAST(N'2026-08-28T16:13:36.8299244' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Repositories] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (2, N'User')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[TeamMembers] ON 

INSERT [dbo].[TeamMembers] ([TeamMemberId], [FullName], [JobTitle], [DepartmentTeam], [Email], [Status], [CreatedAt], [UpdatedAt]) VALUES (1, N'Maya Rahme', N'Technical Lead', N'Platform Engineering', N'maya.rahme@idsfintech.com', N'Active', CAST(N'2026-08-28T16:13:36.6952493' AS DateTime2), NULL)
INSERT [dbo].[TeamMembers] ([TeamMemberId], [FullName], [JobTitle], [DepartmentTeam], [Email], [Status], [CreatedAt], [UpdatedAt]) VALUES (2, N'Fadi Khoury', N'Senior Developer', N'Payments Team', N'fadi.khoury@idsfintech.com', N'Active', CAST(N'2026-08-28T16:13:36.6952493' AS DateTime2), NULL)
INSERT [dbo].[TeamMembers] ([TeamMemberId], [FullName], [JobTitle], [DepartmentTeam], [Email], [Status], [CreatedAt], [UpdatedAt]) VALUES (3, N'Nour Saad', N'Backend Developer', N'Platform Engineering', N'nour.saad@idsfintech.com', N'Active', CAST(N'2026-08-28T16:13:36.6952493' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[TeamMembers] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PasswordHash], [RoleId], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'System Admin', N'admin@idsfintech.com', N'PBKDF2-SHA256$120000$OuD3daCtXYYVLi/vG5YS4w==$T1z9PNNTjaC1jo7YMOfgsqCRbFFA9bzBvcDhaXsZakE=', 1, 1, CAST(N'2026-08-27T14:16:00.5836683' AS DateTime2), CAST(N'2026-09-10T13:20:37.1736787' AS DateTime2))
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PasswordHash], [RoleId], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (6, N'Lina Haddad', N'lina.haddad@idsfintech.com', N'PBKDF2-SHA256$120000$CoO8qa12evyskZuLRqzkjQ==$glDsEJ9IvyFrIKXq0pU1Xp7+VKU2k1uaUAHhCUkannI=', 2, 1, CAST(N'2026-08-28T16:13:36.6493341' AS DateTime2), CAST(N'2026-09-10T19:13:09.7845202' AS DateTime2))
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PasswordHash], [RoleId], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (7, N'Omar Khalil', N'omar.khalil@idsfintech.com', N'DEMO_ONLY_REPLACE_WHEN_JWT_IS_IMPLEMENTED', 2, 1, CAST(N'2026-08-28T16:13:36.6493341' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ClientResponsibilities]    Script Date: 9/11/2026 12:56:31 AM ******/
ALTER TABLE [dbo].[ClientResponsibilities] ADD  CONSTRAINT [UQ_ClientResponsibilities] UNIQUE NONCLUSTERED 
(
	[ClientId] ASC,
	[TeamMemberId] ASC,
	[ResponsibilityRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Clients_CompanyName]    Script Date: 9/11/2026 12:56:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_Clients_CompanyName] ON [dbo].[Clients]
(
	[CompanyName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Clients_Country]    Script Date: 9/11/2026 12:56:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_Clients_Country] ON [dbo].[Clients]
(
	[Country] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Clients_Status]    Script Date: 9/11/2026 12:56:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_Clients_Status] ON [dbo].[Clients]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_DeploymentModules]    Script Date: 9/11/2026 12:56:31 AM ******/
ALTER TABLE [dbo].[DeploymentModules] ADD  CONSTRAINT [UQ_DeploymentModules] UNIQUE NONCLUSTERED 
(
	[DeploymentId] ASC,
	[ModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Deployments_ClientId]    Script Date: 9/11/2026 12:56:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_Deployments_ClientId] ON [dbo].[Deployments]
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Deployments_ProductId]    Script Date: 9/11/2026 12:56:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_Deployments_ProductId] ON [dbo].[Deployments]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Deployments_ProductVersion]    Script Date: 9/11/2026 12:56:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_Deployments_ProductVersion] ON [dbo].[Deployments]
(
	[ProductVersion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Deployments_Status]    Script Date: 9/11/2026 12:56:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_Deployments_Status] ON [dbo].[Deployments]
(
	[DeploymentStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Environments_DeploymentId]    Script Date: 9/11/2026 12:56:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_Environments_DeploymentId] ON [dbo].[Environments]
(
	[DeploymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Environments_Type]    Script Date: 9/11/2026 12:56:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_Environments_Type] ON [dbo].[Environments]
(
	[EnvironmentType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ProductResponsibilities]    Script Date: 9/11/2026 12:56:31 AM ******/
ALTER TABLE [dbo].[ProductResponsibilities] ADD  CONSTRAINT [UQ_ProductResponsibilities] UNIQUE NONCLUSTERED 
(
	[ProductId] ASC,
	[TeamMemberId] ASC,
	[ResponsibilityRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Products_LifecycleStatus]    Script Date: 9/11/2026 12:56:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_Products_LifecycleStatus] ON [dbo].[Products]
(
	[LifecycleStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Products_ProductName]    Script Date: 9/11/2026 12:56:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_Products_ProductName] ON [dbo].[Products]
(
	[ProductName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Products_Technologies]    Script Date: 9/11/2026 12:56:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_Products_Technologies] ON [dbo].[Products]
(
	[Technologies] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B616008D45470]    Script Date: 9/11/2026 12:56:31 AM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TeamMemb__A9D1053476DCD6D0]    Script Date: 9/11/2026 12:56:31 AM ******/
ALTER TABLE [dbo].[TeamMembers] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534EBDAA70B]    Script Date: 9/11/2026 12:56:31 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdminSecuritySettings] ADD  CONSTRAINT [DF_AdminSecuritySettings_IsConfigured]  DEFAULT ((0)) FOR [IsConfigured]
GO
ALTER TABLE [dbo].[AdminSecuritySettings] ADD  CONSTRAINT [DF_AdminSecuritySettings_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AdminSecuritySettings] ADD  CONSTRAINT [DF_AdminSecuritySettings_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[ClientResponsibilities] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Clients] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Clients] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Deployments] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Documents] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Environments] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductModules] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[ProductModules] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductResponsibilities] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Repositories] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TeamMembers] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[TeamMembers] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ClientResponsibilities]  WITH CHECK ADD  CONSTRAINT [FK_ClientResponsibilities_Clients] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([ClientId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClientResponsibilities] CHECK CONSTRAINT [FK_ClientResponsibilities_Clients]
GO
ALTER TABLE [dbo].[ClientResponsibilities]  WITH CHECK ADD  CONSTRAINT [FK_ClientResponsibilities_TeamMembers] FOREIGN KEY([TeamMemberId])
REFERENCES [dbo].[TeamMembers] ([TeamMemberId])
GO
ALTER TABLE [dbo].[ClientResponsibilities] CHECK CONSTRAINT [FK_ClientResponsibilities_TeamMembers]
GO
ALTER TABLE [dbo].[DeploymentModules]  WITH CHECK ADD  CONSTRAINT [FK_DeploymentModules_Deployments] FOREIGN KEY([DeploymentId])
REFERENCES [dbo].[Deployments] ([DeploymentId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DeploymentModules] CHECK CONSTRAINT [FK_DeploymentModules_Deployments]
GO
ALTER TABLE [dbo].[DeploymentModules]  WITH CHECK ADD  CONSTRAINT [FK_DeploymentModules_ProductModules] FOREIGN KEY([ModuleId])
REFERENCES [dbo].[ProductModules] ([ModuleId])
GO
ALTER TABLE [dbo].[DeploymentModules] CHECK CONSTRAINT [FK_DeploymentModules_ProductModules]
GO
ALTER TABLE [dbo].[Deployments]  WITH CHECK ADD  CONSTRAINT [FK_Deployments_Clients] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([ClientId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Deployments] CHECK CONSTRAINT [FK_Deployments_Clients]
GO
ALTER TABLE [dbo].[Deployments]  WITH CHECK ADD  CONSTRAINT [FK_Deployments_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[Deployments] CHECK CONSTRAINT [FK_Deployments_Products]
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD  CONSTRAINT [FK_Documents_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Documents] CHECK CONSTRAINT [FK_Documents_Products]
GO
ALTER TABLE [dbo].[Environments]  WITH CHECK ADD  CONSTRAINT [FK_Environments_Deployments] FOREIGN KEY([DeploymentId])
REFERENCES [dbo].[Deployments] ([DeploymentId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Environments] CHECK CONSTRAINT [FK_Environments_Deployments]
GO
ALTER TABLE [dbo].[ProductModules]  WITH CHECK ADD  CONSTRAINT [FK_ProductModules_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductModules] CHECK CONSTRAINT [FK_ProductModules_Products]
GO
ALTER TABLE [dbo].[ProductResponsibilities]  WITH CHECK ADD  CONSTRAINT [FK_ProductResponsibilities_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductResponsibilities] CHECK CONSTRAINT [FK_ProductResponsibilities_Products]
GO
ALTER TABLE [dbo].[ProductResponsibilities]  WITH CHECK ADD  CONSTRAINT [FK_ProductResponsibilities_TeamMembers] FOREIGN KEY([TeamMemberId])
REFERENCES [dbo].[TeamMembers] ([TeamMemberId])
GO
ALTER TABLE [dbo].[ProductResponsibilities] CHECK CONSTRAINT [FK_ProductResponsibilities_TeamMembers]
GO
ALTER TABLE [dbo].[Repositories]  WITH CHECK ADD  CONSTRAINT [FK_Repositories_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Repositories] CHECK CONSTRAINT [FK_Repositories_Products]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[AdminSecuritySettings]  WITH CHECK ADD  CONSTRAINT [CK_AdminSecuritySettings_OneRow] CHECK  (([AdminSecuritySettingsId]=(1)))
GO
ALTER TABLE [dbo].[AdminSecuritySettings] CHECK CONSTRAINT [CK_AdminSecuritySettings_OneRow]
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [CK_Clients_Status] CHECK  (([Status]='Former' OR [Status]='Prospect' OR [Status]='Inactive' OR [Status]='Active'))
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [CK_Clients_Status]
GO
ALTER TABLE [dbo].[Deployments]  WITH CHECK ADD  CONSTRAINT [CK_Deployments_Status] CHECK  (([DeploymentStatus]='Inactive' OR [DeploymentStatus]='Production' OR [DeploymentStatus]='UAT' OR [DeploymentStatus]='Testing' OR [DeploymentStatus]='Development'))
GO
ALTER TABLE [dbo].[Deployments] CHECK CONSTRAINT [CK_Deployments_Status]
GO
ALTER TABLE [dbo].[Deployments]  WITH CHECK ADD  CONSTRAINT [CK_Deployments_SupportTier] CHECK  (([SupportTier] IS NULL OR ([SupportTier]='Critical' OR [SupportTier]='Premium' OR [SupportTier]='Standard')))
GO
ALTER TABLE [dbo].[Deployments] CHECK CONSTRAINT [CK_Deployments_SupportTier]
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD  CONSTRAINT [CK_Documents_Type] CHECK  (([DocumentType]='Other' OR [DocumentType]='User Guide' OR [DocumentType]='Release Notes' OR [DocumentType]='API Documentation' OR [DocumentType]='Postman Collection' OR [DocumentType]='Architecture Diagram' OR [DocumentType]='Deployment Guide' OR [DocumentType]='Functional Documentation' OR [DocumentType]='Technical Documentation'))
GO
ALTER TABLE [dbo].[Documents] CHECK CONSTRAINT [CK_Documents_Type]
GO
ALTER TABLE [dbo].[Environments]  WITH CHECK ADD  CONSTRAINT [CK_Environments_Type] CHECK  (([EnvironmentType]='Other' OR [EnvironmentType]='Production' OR [EnvironmentType]='UAT' OR [EnvironmentType]='Testing' OR [EnvironmentType]='Development'))
GO
ALTER TABLE [dbo].[Environments] CHECK CONSTRAINT [CK_Environments_Type]
GO
ALTER TABLE [dbo].[ProductModules]  WITH CHECK ADD  CONSTRAINT [CK_ProductModules_Status] CHECK  (([Status]='Deprecated' OR [Status]='Maintenance' OR [Status]='Inactive' OR [Status]='Active'))
GO
ALTER TABLE [dbo].[ProductModules] CHECK CONSTRAINT [CK_ProductModules_Status]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK_Products_Criticality] CHECK  (([Criticality] IS NULL OR ([Criticality]='Critical' OR [Criticality]='High' OR [Criticality]='Medium' OR [Criticality]='Low')))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_Products_Criticality]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK_Products_LifecycleStatus] CHECK  (([LifecycleStatus]='Deprecated' OR [LifecycleStatus]='Planned' OR [LifecycleStatus]='Maintenance' OR [LifecycleStatus]='Active'))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_Products_LifecycleStatus]
GO
ALTER TABLE [dbo].[TeamMembers]  WITH CHECK ADD  CONSTRAINT [CK_TeamMembers_Status] CHECK  (([Status]='Inactive' OR [Status]='Active'))
GO
ALTER TABLE [dbo].[TeamMembers] CHECK CONSTRAINT [CK_TeamMembers_Status]
GO
USE [master]
GO
